/* TEMP -- REMOVE BEFORE DEPLOY */

.pink {
	background-color: pink;
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}
.brown {
	background-color: brown;
}
.orange {
	background-color: orange;
}
.black {
	background-color: black;
}

/* Icon font setup*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?3ee7eq');
	src:url('../fonts/icomoon.eot?#iefix3ee7eq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?3ee7eq') format('woff'),
		url('../fonts/icomoon.ttf?3ee7eq') format('truetype'),
		url('../fonts/icomoon.svg?3ee7eq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pin-alt:before {
	content: "\e603";
}
.icon-brightness:before {
	content: "\e604";
}
.icon-globe:before {
	content: "\e600";
}
.icon-checkmark:before {
	content: "\e605";
}
.icon-cross:before {
	content: "\e601";
}
.icon-arrow:before {
	content: "\e606";
}
.icon-layout:before {
	content: "\e608";
}
.icon-list:before {
	content: "\e60e";
}
.icon-cloud:before {
	content: "\e609";
}
.icon-arrow-down:before {
	content: "\e60b";
}
.icon-arrow-up:before {
	content: "\e60d";
}
.icon-ellipsis:before {
	content: "\e60c";
}


/* apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit;
}

/* remove default browser focus hilighting */
*:focus {
    outline: 0;
}

/* ====================================*/
/* UTILS */
/* ====================================*/

.display {
	display: block;
}

.nodisplay {
	display: none;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

/* ====================================*/
/* COLOR PICKER VIEW MOBILE */
/* ====================================*/

html {
  box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: #000000;
	min-height: 100%;
	position: relative;
}

header {
	z-index: 200;
	position: relative;
}

nav {
	z-index: 250;
	position: relative;
}

#title-block.picker {
	color: #FFFFFF;
	padding: 1rem 5.5rem 1rem 1rem;
	background-color: #222222;
}

#title-block.picker #title {
	font-weight: 800;
	font-size: 2.6rem;
	margin: 0;
	opacity: .7;
}

#title-block.picker .subtitle {
	font-size: 1.5rem;
	font-weight: 400;
	margin: .5rem .1rem;
	opacity: .7;
}

#control-bar-bg {
	position: absolute;
	right: 0;
	background-color: #000000;
	opacity: .8;
	width: 4.5rem;
	height: 100%;
	z-index: 225;
	pointer-events: none;
}

#control-bar {
	position: fixed;
	height: 100vh;
	width: 4.5rem;
	right: 0;
	color: #FFFFFF;
	/*z-index: 100;*/
	overflow-x: hidden;
	overflow-y: scroll;
}

#control-bar::-webkit-scrollbar { 
    display: none; 
}

.control, .control-module {
	width: 100%;
	text-align: center;
}

.control-module:last-child {
	margin-bottom: 5rem;
}

.bumper {
	margin: 1.8rem 0 1rem 0;
}

.arrow {
	margin: 0;
	padding: 0;
	font-size: 3rem;
	line-height: 0;
	opacity: .5;
}

.control .control-icon:active, 
.arrow:active {
	color: #00CCFF;
	text-shadow: 0px 0px 20px #FFFFFF;
	opacity: 1;
}

.control-icon {
	font-size: 1.5rem;
	margin: 0;
	line-height: 0;
	opacity: .6;
}

.icon-layout {
	font-size: 1.9rem;
}

.icon-globe {
	font-size: 1.4rem;
}

.tooltip {
	display: none;
}

#color-bars {
	position: relative;
	z-index: 50;
}

.color-bar {
	height: 7rem;
}

.buttons {
	margin-right: 4.5rem;
	padding: 1rem;
	text-align: right;
}

.detail .buttons {
	text-align: left;
}

.detail .return {
	float: left;
}

.detail .select {
	float: right;
}

.button {
	vertical-align: middle;
	display: inline-block;
	width: 5rem;
	height: 5rem;
	border-radius: 50px;
	opacity: .4;
	text-align: center;
}

.button:active {
	opacity: 1;
	background-color: #FFFFFF;
}

.expand, .select, .return {
	color: #000000;
	font-size: 4rem;
}

.button span {
	vertical-align: -14%;
}

.expand {
}

.select {
}

.return {
	font-size: 3.75rem;
}

.return span {
	vertical-align: -13%;
}


/* ====================================*/
/* SUBMIT VIEW MOBILE */
/* ====================================*/

#title-block.submit {
	color: #FFFFFF;
	background-color: #333333;
	opacity: .25;
	padding: 1rem 5.5rem 1rem 1rem;
}

#title-block.submit #title {
	font-weight: 800;
	font-size: 2.6rem;
	margin: 0;
	/*opacity: .5;*/
}

#title-block.submit .subtitle {
	font-size: 1.5rem;
	font-weight: 400;
	margin: .5rem .1rem;
	opacity: .5;
}

#color-form {
	width: 100%;
	padding: 0 5.7rem 0 1.2rem;
}

.fancy-form {
	border-bottom: 2px solid #888888;
	width: 100%;
	height: 4rem;
	background-color: rgba(255,255,255,.75);
	margin: 1.4rem 0;
	padding: 0;
}

.fancy-form input {
	border: 0;
	background-color: transparent;
	border-radius: 0;
	height: 100%;
	width: 100%;
	font-weight: 800;
	letter-spacing: .5px;
	padding: 0 .75rem;
}

.fancy-form input:focus {
	background-color: #FFFFFF;
}

.fancy-form {
	position: relative;
}

.fancy-form.field-button input {
	padding-right: 3rem;
	width: 100%;
}

.fancy-form.field-button p {
	position: absolute;
	top: -.75rem;
	right: .75rem;
	color: #666666;
	font-size: 1.75rem;
	padding: 0;
}

.fancy-form.field-button p:hover {
	cursor: pointer;
	color: #333333;
}

.fancy-form.field-button p:active {
	color: #CC6600;
}

/* ====================================*/
/* RECENTS GRID VIEW MOBILE */
/* ====================================*/

#recents-grid {
	background-color: #222222;
	overflow: hidden;
}

#title-block.recents {
	color: #FFFFFF;
	padding: 1rem 5.5rem 1rem 1rem;
	background-color: #222222;
}

#title-block.recents #title {
	font-weight: 800;
	font-size: 2.6rem;
	margin: 0;
	opacity: .7;
}

#title-block.recents .subtitle {
	font-size: 1.5rem;
	font-weight: 400;
	margin: .5rem .1rem;
	opacity: .7;
}

.tile {
	text-shadow: 0px 1px rgba(255, 255, 255, .25);
	color: rgba(8, 8, 8, .6);
	min-height: 10rem;
	padding: 1rem 5.5rem 1rem 1rem;
}

.tile .color-name {
	font-size: 1.3rem;
	margin: 0 0 .7rem 0;
}

.tile .color-build {
	margin: 0 0 .2rem 0;
	font-weight: 400;
	font-size: .9rem;
}

.tile .datetime {
	margin: 0;
	letter-spacing: .5px;
	margin: .6rem 0 0 0;
}

.tile .location {
	margin: .2rem 0 .7rem 0;
}

/* ====================================*/
/* COLOR MAP VIEW MOBILE */
/* ====================================*/

#title-block.color-map {
	color: #FFFFFF;
	padding: 1rem 5.5rem 1rem 1rem;
	background-color: #222222;
}

#title-block.color-map #title {
	font-weight: 800;
	font-size: 2.6rem;
	margin: 0;
	opacity: .7;
}

#title-block.color-map .subtitle {
	font-size: 1.5rem;
	font-weight: 400;
	margin: .5rem .1rem;
	opacity: .7;
}

#map-container {
	width: 100%;
	height: 440px;
	background-color: #333333;
	overflow: scroll;
}

#map-container::-webkit-scrollbar { 
    display: none; 
}

#map {
	cursor: pointer;
	height: 100%;
	width: 400%;
	background-image: url("../images/map.svg");
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

/* ====================================*/
/* ====================================*/
/* MEDIA QUERIES */
/* ====================================*/
/* ====================================*/

@media only screen and (min-width: 767px) {

/* ====================================*/
/* COLOR PICKER VIEW DESKTOP */
/* ====================================*/

#title-block.picker {
	pointer-events: none;
	background-color: transparent;
	background-image: none;
	position: fixed;
	width: 100%;
}

#title-block.picker #title {
	font-size: 7rem;
	margin: 0 0 0 1.9rem;
	opacity: .7;
}

#title-block.picker .subtitle {
	font-size: 2rem;
	margin: .5rem 0 0 2.5rem;
	opacity: .7;
}

#control-bar-bg {
	width: 8rem;
}

#control-bar {
	width: 8rem;
}

#control-bar:hover {
	width: 16rem;
}

.control, .control-module {
	margin: 2rem 0 0 auto;
	width: 8rem;
	position: relative;
}

.arrow {
	margin: 0;
	font-size: 3rem;
	line-height: 0;
	opacity: .5;
}

.control .control-icon:hover,
.arrow:hover {
	opacity: 1;
}

.control .control-icon:active,
.arrow:active {
	color: #00CCFF;
	text-shadow: none;
}

.control-icon {
	font-size: 2.5rem;
	margin: 0;
	line-height: 0;
	opacity: .6;
}

.bumper {
	margin-top: 3.5rem;
	margin-bottom: 3rem;
}

.icon-layout {
	font-size: 2.7rem;
}

.icon-globe {
	font-size: 2rem;
}

.tooltip-parent:hover .tooltip {
	display: block;
}

.tooltip {
	font-weight: 800;
	opacity: .75;
	text-align: right;
	font-size: 1rem;
	position: absolute;
	right: 9rem;
}

.tooltip.picker {
	top: -1.1rem;
}

.tooltip.recent {
	top: -1rem;
}

.tooltip.map {
	top: -.7rem;
}

.tooltip.brightness {
	top: 2.5rem;
}

.tooltip.saturation {
	top: 2.5rem;
}

.color-bar {
	height: 11rem;
}

.buttons {
	opacity: 0;
	margin: 0 8rem 0 0;
	padding: 3rem;
	transition: opacity 0.3s ease
}

.color-bar:hover .buttons {
	opacity: 1;
	transition: opacity 0.3s ease
}

.button {
	vertical-align: middle;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 1);
}

.button:hover {
	opacity: 1;
	background-color: #FFFFFF;
}

.button:active {
	opacity: .8;
	background-color: #FFFFFF;
}


/* ====================================*/
/* SUBMIT VIEW DESKTOP */
/* ====================================*/

#color-form {
	width: 100%;
	padding: 1.2rem 10rem 0 1.9rem;
}

.fancy-form {
	margin-bottom: 2rem;
}

.fancy-form:last-child {
	margin-bottom: 2rem;
}

.fancy-form input {
	font-size: 1.75rem;
	font-weight: 400;
}

/* ====================================*/
/* RECENTS GRID VIEW DESKTOP */
/* ====================================*/

.tile {
	display: inline-block;
	width: 30%;
	height: 15rem;
	float: left;
	overflow: hidden;
	padding: 1rem;

}

.tile:nth-child(3n) {
	width: 40%;
	padding-right: 9rem;
}

/* ====================================*/
/* COLOR MAP VIEW DESKTOP */
/* ====================================*/


}